<!--<?xml version="1.0" encoding="UTF-8"?>-->

<!--<configuration>-->

<!--    &lt;!&ndash; Console Appender with colorized output &ndash;&gt;-->

<!--    <appender name="CONSOLE_TRACE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                %d{yyyy-MM-dd HH:mm:ss} %magenta([%thread]) %blue(%-5level) %blue(%logger{36}) - %msg%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <appender name="CONSOLE_DEBUG" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                %d{yyyy-MM-dd HH:mm:ss} %magenta([%thread]) %green(%-5level) %green(%logger{36}) - %msg%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <appender name="CONSOLE-INFO" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                %d{yyyy-MM-dd HH:mm:ss} %magenta([%thread]) %highlight(%-5level) %highlight(%logger{36}) - %msg%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <appender name="CONSOLE_WARN" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                %d{yyyy-MM-dd HH:mm:ss} %magenta([%thread]) %yellow(%-5level) %yellow(%logger{36}) - %msg%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <appender name="CONSOLE_ERROR" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                %d{yyyy-MM-dd HH:mm:ss} %magenta([%thread]) %red(%-5level) %red(%logger{36}) - %msg%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash; File Appender to log to files with date-based log files &ndash;&gt;-->
<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${application.home:-.}/logs/log_.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <logger name="com.application" level="TRACE"/>-->


<!--    &lt;!&ndash;    <logger name="chapters.configuration" level="INFO"/>&ndash;&gt;-->
<!--    &lt;!&ndash; Root Logger configuration &ndash;&gt;-->

<!--    &lt;!&ndash;    <root level="INFO">&ndash;&gt;-->
<!--    &lt;!&ndash;        <appender-ref ref="CONSOLE_TRACE" />&ndash;&gt;-->
<!--    &lt;!&ndash;        <appender-ref ref="FILE" />&ndash;&gt;-->
<!--    &lt;!&ndash;    </root>&ndash;&gt;-->
<!--    <root level="DEBUG">-->
<!--        <appender-ref ref="CONSOLE_DEBUG"/>-->
<!--        <appender-ref ref="FILE"/>-->
<!--    </root>-->
<!--    &lt;!&ndash;    <root level="INFO">&ndash;&gt;-->
<!--    &lt;!&ndash;        <appender-ref ref="CONSOLE_INFO" />&ndash;&gt;-->
<!--    &lt;!&ndash;        <appender-ref ref="FILE" />&ndash;&gt;-->
<!--    &lt;!&ndash;    </root>&ndash;&gt;-->
<!--    &lt;!&ndash;    <root level="WARN">&ndash;&gt;-->
<!--    &lt;!&ndash;        <appender-ref ref="CONSOLE_WARN" />&ndash;&gt;-->
<!--    &lt;!&ndash;        <appender-ref ref="FILE" />&ndash;&gt;-->
<!--    &lt;!&ndash;    </root>&ndash;&gt;-->
<!--    &lt;!&ndash;    <root level="ERROR">&ndash;&gt;-->
<!--    &lt;!&ndash;        <appender-ref ref="CONSOLE_ERROR" />&ndash;&gt;-->
<!--    &lt;!&ndash;        <appender-ref ref="FILE" />&ndash;&gt;-->
<!--    &lt;!&ndash;    </root>&ndash;&gt;-->
<!--</configuration>-->
